.titulo {
  font-size: 22px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #063969;
}

.logo {
  padding-bottom: 10px;
}

.lista-medalhas {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.tabela-expandivel {
  width: 80%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 20px auto;
}

.tabela-expandivel th, .tabela-expandivel td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.conteudo-pais {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bandeira-pais strong {
  justify-content: space-between;
  padding-left: 10px;
}

.linha-pais {
  cursor: pointer;
  background-color: #f9f9f9;
}

.linha-pais td {
  position: relative;
}

.linha-medalha {
  background-color: #f1f1f1;
}

.botao-expandir {
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  background-color: #007bff;
  align-items: flex-end;
  position: relative;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  width: 200px;
}

.erro {
  color: red;
  font-weight: bold;
}

.texto {
  padding: 20px;
}

.texto h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: white;
}

.cabecalho {
  display: flex;
  align-items: center;
}

.icone {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.seila{
  display: flex;
  align-items: center;
}